        <div class="row">
            <div class="mySlides">
                <img class="mx-auto d-block" src="kepek/sgn1.jpg" alt="N" style="width:100%">
            </div>
            <div class="mySlides">
                <img class="mx-auto d-block" src="kepek/sgn2.jpg" alt="N" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="mx-auto d-block" id = "clock1"></div>
                <div class="display">
                    <h1 id="name"></h1>
                    <p id="temp"></p>
                    <p id="desc"></p>
                </div>
            </div>
            </div>

            <div class="mySlides">
                <img class="mx-auto d-block" src="kepek/sgn3.jpg" alt="N" style="width:100%">
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>